<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Home</title>
  </head>
  <body>
    <form action = "/performOperation" method = "post">
      Num1: <input type="number" name="num1"> <br><br>
      Num2:  <input type="number" name="num2"> <br><br>

      <button type="submit" name = "option" value="add">ADDITION</button>
      <button type="submit" name = "option" value="sub">SUBTRACT</button>
      <button type="submit" name = "option" value="mul">MULTIPLY</button>
      <button type="submit" name = "option" value="div">DIVISION</button>
    </form>
  </body>
</html>