<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
            <form>
                Roll No: <input type="number"> <br><br>
                Name: <input type="text"> <br><br>
                Marks 1: <input type="number"> <br><br>
                Marks 2: <input type="number"> <br><br>
                Marks 3: <input type="number"> <br><br>

                <button type="submit">Submit</button>
            </form>
    </body>
</html>