<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to the EMS</h1>

        <button type="submit" name="option" value="insert">Insert the Employee</button>
        <button type="submit" name="option" value="read">Read the Employee</button>
        <button type="submit" name="option" value="update">Update the Employee</button>
        <button type="submit" name="option" value="delete">Delete the Employee</button>
    </body>
</html>